body {
  padding: 0;
  margin: 0;
  background-image: url(image.jpg);
  background-size: cover;
  font-family: Book Antiqua;
  font-size: 150%;
}
.register {
  text-align: center;
  width: 50%;
  height: auto;
  color: #ffffff;
  margin-left: 25%;
  margin-top: 5%;
}
p {
  font-size: 150%;
  color: #ffffff;
}
input::placeholder {
  font-family: Courier New;
  color: #000000;
  font-size: 100%;
}
textarea {
  padding-top: 2%;
  color: #000000;
  text-align: center;
  font-family: Courier New;
}
select {
  font-family: Courier New;
  padding-left: 1%;
  padding-right: 1%;
}
option {
  text-align: left;
}
aside {
  background: #c0c0c0;
  padding: 3%;
  width: 10%;
  float: right;
  color: #000000;
  padding-top: 5%;
  font-size: 150%;
}
.menu ul li {
  padding: 10px;
}
.bg_color {
  background-color: #000000;
}
.menu ul > li:hover {
  background-color: #000000;
}
.menu ul ul > li:hover {
  background-color: #000000;
}
.menu ul li,
.menu ul {
  display: inline-block;
}
.menu ul {
  background-color: #c0c0c0;
  position: relative;
  margin: 0;
  padding: 0;
}
.menu ul ul {
  background-color: #000000;
  display: none;
  position: absolute;
  margin-top: 10px;
  margin-left: -10px;
}
.menu_ul {
  color: #ffffff;
  text-decoration: none;
}
.menu ul a {
  color: #ffffff;
  text-decoration: none;
}
.menu ul ul a {
  color: #ffffff;
  text-decoration: none;
}
.menu li:hover ul {
  display: block;
}
.menu li:hover li {
  display: block;
}
.container-1 {
  display: flex;
  flex-direction: row;
  margin-left: 1%;
  margin-right: 1%;
}
.container-1 div {
  margin-top: 3%;
}
.box-2 {
  margin-left: 2%;
}
h2 {
  color: #ffffff;
}
h1,
h3,
h4 {
  color: #ffffff;
  text-align-last: center;
  margin-top: 3%;
}
.winners {
  text-align: center;
  margin-top: 2%;
  display: table;
  color: #ffffff;
}
.winners div {
  display: table-cell;
  justify-content: space-around;
}
img {
  width: 60%;
  border-radius: 8px;
}
.rotate:hover {
  -webkit-transform: rotateZ(-15deg);
  -ms-transform: rotateZ(-15deg);
  transform: rotateZ(-15deg);
}
@keyframes travel {
  from {
    left: 21px;
  }
  to {
    left: 530px;
  }
}
@media (max-device-width: 720px) {
  .winners {
    text-align-last: center;
  }
  .winners div {
    display: block;
    width: 75%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  img {
    width: 100%;
  }
  .container-1 {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }
  .box-2 {
    margin-left: 0%;
  }
  p {
    font-size: 200%;
    color: #ffffff;
  }
  h1 {
    margin-top: 10%;
  }
}
